   
			<table border="1">seleccione el Tipo de Reclamo <span  class="required"></span></label>
     	  <tr>
       		<td>Tipo de Reclamo </td>
       		<td>Observaciones </td>
       		<td>Fecha </td>
      	</tr> 
      	<tr>
        seleccione el Tipo de Reclamo <span  class="required"></span>
        	<td><%= reclamo.tipoReclamo%></td>
        	<td><%= reclamo.observacion%></td>
        	<td><%= reclamo.fecha%></td>
    	</tr>
     </table>
